.product__footer .rating {
    color: #ffcC00!important;
    font-size: 14px;
    float: left;
    width: 45%;
    padding: 0 10px 0 15px;
    position: relative;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.rating {
    color: #ffcC00!important;
    font-size: 14px;
}
.product__footer  {
   background: #003CBF ;
   color: #fff; }
.product  { box-shadow: 5px 4px 22px 5px rgba(0, 0, 0, .1);}
.product-fiche  {     box-shadow: 3px 3px 10px rgba(0, 0, 0, .1);  }
.sortbar .navbar-brand {
    padding: 0 1.875rem 0 1rem;
    margin: 0;
    color: #999999;
}
.sortbar .navbar-brand, .sortbar .nav-link {
    background-color: #fff;
}

#product-slide.cid-qNHanqAYvn11 {
     padding-top: 20px;
    padding-bottom: 30px;
    background-image: url(../img/pexels-photo-297756.jpg);
    height: 240px; }
.cid-qNHanqAYvn11 {
    padding-top: 20px;
    padding-bottom: 190px;
    background-image: url(../img/pexels-photo-297755.jpg);
}


.cid-qNHanqAYvn11.bg-img-23 {
    padding-top: 20px;
    padding-bottom: 190px;
    background-image: url(../img/omra.jpg);
}

.breadcrumb {
    background: transparent !important;
}

.breadcrumb  .breadcrumb-item a, 
.breadcrumb  .breadcrumb-item  
{ color: #fff; }
h4.product__title { font-size: 20px; }
h4.product__title a { color: #000; }
.txt-bleu    { color:#203166; }
.bg-bleu {     background-color: #ecfafd; }
.bg-grey { background: #e8e8e8; }
.txt-org { color:  #ffab00 ; }
.txt-vert { color:  #669900 ; }
.post_date  {  color:#203166 ; }
.fz-18  { font-size: 18px; }



.trait-yellow {
    border-top: #ffab00  solid;
    width: 5%;
}
.product__body {     min-height: 241px;}

.breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
}
/****** CSS Fiche *****/
.display-24 {font-size: 24px;}





.product__footer .btn-warning.book {  
padding: 8px 26px;
    font-weight: 700;
    font-size: 16px;
    border-radius: 25px !important;
}

.usp-header__ranking {
    border-radius: 25px !important;
    padding: 12px;
    position: relative;
    background: #669900 ;
    color: #fff;
    width: 50%;
    margin-left: 14px;
    padding-left: 42px;
}

.usp-header__score {
       border-radius: 50px !important;
    position: absolute;
    border: 2px solid;
    width: 50px;
    height: 50px;
    padding: 6px;
    background: #fff;
    border-color: #669900 ;
    z-index: 20;
    text-align: center;
    line-height: 2;
}


/****** CSS Fiche *********/
.btn-tarif,.btn-tarif:hover  {
    font-weight: 500;
    background-color: #ffab00  ;
    color: #333 !important;
    font-size: 16px;
    text-transform: none;
border-radius: 25px !important;}
.box-bleu { background-color: #ecfafd ; color: #333; } 
.price {color: #fff;}
.trait-grey   { border-top: #f5f5f5 solid 2px;}
.price-rub {       
    color: #fff; }
.desc-product .product-nav__menu.nav-tabs { border-bottom: none; } 
.desc-product .product-nav__menu .nav-link.active,
.desc-product .product-nav__menu .nav-link.active:hover {
    color: #fff !important;
    background-color: #007bff;
}
.desc-product .product-nav__menu .nav-link {
     color: #007bff;
    background-color: #fff;
    border-radius: 25px !important;
    border: 2px #007bff solid;
    font-weight: 500;
        margin-right: 10px;
}

.desc-product .tab-content  { margin-top: 4px;}
.display-16 { font-size: 16px; }
.btn-book  {
    color: #333;
    background-color: #ffab00;
    border-color: #ffab00;
    border-radius: 5px !important;
    font-weight: 500; }
.interary-item .item_content {
    padding-left: 85px;
    overflow    : hidden;
}
.interary-item .icon-left {
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 45px;
    text-align: center;
    border-radius: 50% !important;
    font-size: 16px;
    margin-top: 10px;
        font-weight: 500;
}

.interary-item .icon-left {
    border: 2px solid #ccc;
    color: #ff6600;
    background: #fff;
}

.interary-item:hover .icon-left {
    background: transparent;
    color: #ff6600;
}

.item_content h2 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 12px;
}

.raxus-slider {
    height: 500px; }

.raxus-slider[data-thumbnail=bottom] .mini-images-relative {
   background: transparent;
    box-shadow: none;
}


.display-14 { font-size: 14px; }



.progress--medium {
            font-size: 16px;
            margin-bottom: 30px;
        }

.progress--large {
            font-size: 2em;
        }
.progress-step {
            list-style: none;
            margin: 0;
            padding: 0;
            display: table;
            table-layout: fixed;
            width: 100%;
            color:#353535;
        }

.progress-step li {
            position: relative;
            display: table-cell;
            text-align: center;
            font-size: 14px;
        }

.progress-step li:before {
            content: attr(data-step);
            display: block;
            margin: 0 auto;
            background: #fff;
            border:1px solid #e8e8e8;
            width: 3em;
            height: 3em;
            text-align: center;
            margin-bottom: 0.25em;
            line-height: 3em;
            border-radius: 100%;
            position: relative;
            z-index: 1000;
            box-shadow: 0px 3px 10px rgba(0, 0, 0, .1);
        }

.progress-step li:after {
            content: '';
            position: absolute;/**/
            display: block;
            background: #e8e8e8;
            width: 100%;
            height: 0.5em;
            top: 1.25em;
            left: 50%;
            margin-left: 1.5em\9;
        }

 .progress-step li:last-child:after {
            display: none;
        }

.progress-step li.is-complete {
            color:#0f4aa4;
        }

.progress-step li.is-complete:before,
.progress>li.is-complete:after {
            color:#353535;
            background: #fff;
            border:2px solid #ffab00;
            
        }

.progress-step li.is-active {
            color: #3498DB;
        }
.progress-step li.is-active:before {
            color: #FFF;
            background: #3498DB;
            
        }
.progressBar {
            margin-bottom:30px;
        }

.recap-rub {
    background-color: #ffb300;
    margin: 0px;
    padding: 15px 20px;
    color: #fff;
    font-size: 18px;
}
.card-footer { 
    background   : transparent; 
    border-top   : none;      
    padding-left : 15px;
    padding-right: 15px; }
.pack-amount { float: right; }
.orange { color: #ff6600; }

.product__img-top { height: 280px;  overflow: hidden;}
.category-content { min-height: 400px; }



@media (max-width: 767px) {  
.cid-qNHanqAYvn11 {
    padding-top: 8px;
    padding-bottom: 8px;
    background-image: url(../img/pexels-photo-297755.jpg);
} 

.cid-qNHanqAYvn11 .breadcrumb li { font-size: 12px; }
.product__img-top {height: 200px;}
.product__body {min-height: 160px;}
.fz-18m , h4.product__title a {
    font-size: 18px;}
.raxus-slider {
    height: 300px;
}

.card-fiche {
 top: 0px;
}
}

.filter .form-control {     
    border-radius: 25px !important;
    background: #666;
    color: #fff;        
    padding: 5px 8px 6px 34px;}

    .fl.btn { border-radius: 25px !important; background:#007bff ; color:  #fff;  }
    .font-weight-500 { font-weight: 500; }
    .font-18 { font-size: 18px; }
    .font-24  { font-size: 24px; }
.destinations:before {          
   font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f3c5";
    position: absolute;
    top: 6px;
    left: 28px;
    color: #fff;
    font-size: 18px;}
.periode:before {          
   font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f073";
    position: absolute;
    top: 6px;
    left: 28px;
    color: #fff;
    font-size: 18px;}


.confort:before {          
   font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f005";
    position: absolute;
    top: 6px;
    left: 28px;
    color: #fff;
    font-size: 18px;}



.ribbon-wrapper {
       top: 80%;
    position: absolute;
    z-index: 998;
       right: -20px;
}
  .ribbon-front {
      background-color: #e12d2d;
    height: 30px;
    width: 165px;
    position: relative;
    left: -10px;
    z-index: 2;
    font: 16px/30px bold Verdana, Geneva, sans-serif;
    color: #f8f8f8;
    text-align: left;
    text-shadow: 0px 1px 2px #e12d2d;
    padding-left: 12px;
}

  .ribbon-front,
  .ribbon-back-left,
  .ribbon-back-right
{
    -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    -khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    -o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}

  .ribbon-edge-topleft,
  .ribbon-edge-topright,
  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
    position: absolute;
    z-index: 1;
    border-style:solid;
    height:0px;
    width:0px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-topright {
}

  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
        top: 30px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-bottomleft {
    left: -10px;
    border-color: transparent #9B1724 transparent transparent;
}

  .ribbon-edge-topleft {
    top: -5px;
    border-width: 5px 10px 0 0;
}
  .ribbon-edge-bottomleft {
    border-width: 0 10px 0px 0;
}

  .ribbon-edge-topright,
  .ribbon-edge-bottomright {
        left: 145px;
    border-color: transparent transparent transparent #9B1724;
}

  .ribbon-edge-topright {
    top: 0px;
    border-width: 0px 0 0 10px;
}
  .ribbon-edge-bottomright {
    border-width: 0 0 5px 10px;
}


@-webkit-keyframes flow {
    0% { left:-20px;opacity: 0;}
    50% {left:100px;opacity: 0.3;}
    100%{ left:180px;opacity: 0;}
}
@keyframes flow {
    0% { left:-20px;opacity: 0;}
    50% {left:100px;opacity: 0.3;}
    100%{ left:180px;opacity: 0;}
}

.glow{ background: rgb(255,255,255); width:40px; height:100%; z-index:999; position:absolute;-webkit-animation: flow 1.5s linear infinite;-moz-animation: flow 1.5s linear infinite;-webkit-transform: skew(20deg);
       -moz-transform: skew(20deg);
         -o-transform: skew(20deg);background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(1%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */ border-left:1px solid #fff;}


.ribbon {
  position: absolute;
  left: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  /*width: 75px; height: 75px;*/
  /*hakimhassani97*/
  width: 150px; height: 150px;
  text-align: right;
}
.ribbon span.dispo {
  /*font-size: 12px;*/
  font-weight: 600;
  color: #FFF;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  /*width: 100px;*/
  display: block;
  background: #669900 ;
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  /*top: 19px; left: -21px;*/
  /*hakimhassani97*/
  width: 200px;
  height: 40px;
  padding-top: 8px;
  top: 37px; left: -43px;
  font-size: 18px;
}

.ribbon span.epuise {
  font-size: 12px;
  font-weight: 600;
  color: #FFF;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #e12d2d ;
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; left: -21px;
}
.ribbon span.dispo::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #669900;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #669900;
}
.ribbon span.dispo::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #669900;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #669900;
}

.ribbon span.epuise::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #e12d2d ;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #e12d2d ;
}
.ribbon span.epuise::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #e12d2d ;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #e12d2d ;
}

.tab-tarifs thead {     background: #ffecce;
    color: #ff6600; }

.tab-tarifs   .form-control {border-radius: 24px !important;}
.bg-red {background: #e12d2d ;}
.entete {   
 position: absolute;
 top: -10px;
 left: 0px; 
 padding: 4px 16px; 
 color: #fff; 
 font-style: italic;}

 #step-voyage .btn-warning ,  #step-voyage .btn-retour{    
    font-size: 16px;
    border-radius: 25px !important;
    font-weight: 500;}


    .titre-card {
    position: absolute;
    top: -15px;
    left: -20px;
    height: 40px;
    line-height: 40px;
    padding: 0 1.25rem;
    background: #e12d2d;
    color: white;
    margin-bottom: 15px;
    font-style: italic;
}