/* table style */
thead{
	background-color: #003cbf8f;
}
.dataTables_scrollBody{
	/*height: 50%!important;*/
}
input[type=search]{
	height: 30px;
	border: none;
	border-radius: 15px;
	padding: 0 5px;
}
.paginate_button:hover{
  background: #9fc8ff!important;
}
.current{
  border-radius: 50%!important;
  background: #003cbf8f!important;
}
.next,.previous{
  border-radius: 10px;
  background-color: #003cbf8f;
}
.dt-buttons{
  display: inline;
}
.dt-buttons > .dt-button{
  border: none;
  box-shadow: 1px 1px 5px grey;
  padding: 5px;
  border-radius: 50%;
  background-color: #9fc8ff;
}
/* end table style */
/* center text in select box */
select{
  text-align: center;
  text-align-last: center;
}
/*global font size*/
input[type=text]{
	font-size: 1.5rem!important;
}
/*file inputs*/
input[type=file]::-webkit-file-upload-button {
  visibility: hidden;
  width: 30px!important;
}
input[type=file]::before {
  content: '...';
  display: inline-block;
  background-color: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
input[type=file]:hover::before {
  border-color: black;
}
input[type=file]:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
/*tables style*/
td{
  border-left: 1px solid #003cbf8f66;
}
/**************/
/*start rating css*/
.rate {
    float: left;
    height: 46px;
    padding: 0 0px;
}
.rate:not(:checked) > input {
    /*position:absolute;
    top:-9999px;*/
    display: none;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
/*end star rating css*/

/* right button in calendar inputs */
.right-addon{
  height: 100%;
  background-color: #003cbf8f;
  border-radius: 0 5px 5px 0;
  color: whitesmoke;
  padding: 4px 10px 0px 10px;
}
/* end right button in calendar inputs */

/* dorpdwon Hover */
.dropbtn {
  width: 100%;
  padding: 0.625rem 1.25rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdownHover {
  width: 100%;
  padding: 0.625rem 1.25rem;
  background-color: transparent;
  position: relative;
  display: inline-block;
}

.dropdownHover-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownHover-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownHover-content a:hover {}

.dropdownHover:hover .dropdownHover-content {display: block;}

.dropdownHover:hover .dropbtn {

}

/*End Drop Down Hover */